{% load socialaccount %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<a href="{% url 'login' %}" class="login__header">
    <img src="{% static 'img/logo.png' %}" alt="">
</a>
<div class="log">
    <div class="login">
        <div class="login__title">Hi</div>
        <div class="login__register">
            Sign in to eBay Auctions or <a href="{% url 'register' %}">create an account</a>
        </div>
    
        <form class="login__form" method="post">
            {% csrf_token %}
                {{ form.username }}
                {{ form.password }}
            <button type="submit">Login</button>
        </form>
        <a style="width: 91%;" class="login__btn" href="{% provider_login_url 'google' %}">Continue with Google</a>
    
    </div>
    
    
</div>
