{% load static %}
<footer class="footer">
    <div class="footer__container container">
        <div class="footer__items">
            <div class="footer__item">
                <a href="#" class="footer__link">About eBay</a>
                <a href="#" class="footer__link">Announcements</a>
                <a href="#" class="footer__link">Community</a>
                <a href="#" class="footer__link">Security information</a>
                <a href="#" class="footer__link">Seller information center</a>
                <a href="#" class="footer__link">Policies</a>
                <a href="#" class="footer__link">Affiliates</a>
                <a href="#" class="footer__link">Help & Contact</a>
                <a href="#" class="footer__link">Site Map</a>
            </div>
            <div class="footer__item">
                <div class="footer__links">
                    <div class="footer__copy">Copyright © 1995-2024 eBay Inc. All Rights Reserved.</div>
                    <a href="#" class="footer__linkTwo">User Agreement, </a>
                    <a href="#" class="footer__linkTwo">Privacy, </a>
                    <a href="#" class="footer__linkTwo">Payments Terms of Use, </a>
                    <a href="#" class="footer__linkTwo">Cookies and AdChoice </a>
                </div>
            </div>
        </div>
    </div>
</footer>
