{% load static %}
{% load i18n %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
<div class="header">
    <header>
        <div class="header__container container">
            <div class="header__items">
                <div class="header__item">
                    <a href="#" class="header__link header-link">{% trans 'Daiy Deals' %}</a>
                    <a href="#" class="header__link header-link">{% trans 'Help & Contact' %}</a>
                    

                    {% if user.is_authenticated %}
                        <a class="header__link" href="{% url 'logout' %}">{% trans 'SignOut' %}</a>
                    {% else %}
                        <!-- Ссылка на страницу входа -->
                        <a class="header__link" href="{% url 'login' %}">{% trans 'SignIn' %}</a>
                    {% endif %}
                </div>
                <div class="header__item">
                    <a href="#" class="header__link">{% trans 'Ship to' %}</a>
                    
                    <form id="languageForm" action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}" />
                        <select id="languageSelect" name="language">
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                                    {{ language.name_local }} ({{ language.code }})
                                </option>
                            {% endfor %}
                        </select>
                    </form>
                    
                    
                    <a href="#" class="header__link">{% trans 'Sell' %}</a>
                    <a href="#" class="header__link">{% trans 'Watchlist' %}</a>
                    <a href="#" class="header__link">{% trans 'My eBay' %}</a>
                    <a href="#" class="header__link">
                        <img src="{% static 'img/header/notif.svg' %}" alt="">
                    </a>
                    <a href="#" class="header__link">
                        <img src="{% static 'img/header/cart.svg' %}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </header>
    
    <div class="header__intro intro container">
        <a href="{% url 'index' %}">
            <div class="intro__logo">
                <img src="{% static 'img/header/logo.svg' %}" alt="">
            </div>
        </a>
    </div>
</div>
<script>
    document.getElementById('languageSelect').addEventListener('change', function() {
        document.getElementById('languageForm').submit();
    });
</script>