{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Ebay</title>
</head>
<body>
    {% include 'header.html' %}
    <main>
        <div class="banner">
            <div class="banner__container container">
                <div class="banner__title">eBay Auctions</div>
                <div class="banner__subtitle">Fast, safe, profitable trade</div>
                <div class="banner__input">
                    <button>Promocode</button>
                </div>
            </div>
        </div>

        <div class="tabs container">
            <button class="tablink" onclick="openTab('active')">Active auctions</button>
            <button class="tablink" onclick="openTab('completed')">Completed auctions</button>
            <div id="active" class="tabcontent">
                <div class="products ">
                    <div class="products__container">
                        {% for product in active_products %}
                        <input type="hidden" id="product-name-{{ product.id }}" value="{{ product.name }}">
                        <input type="hidden" id="product-increment-{{ product.id }}" value="{{ product.increment }}">
                        <input type="hidden" id="product-image-url-{{ product.id }}" value="{{ product.images.first.image.url }}">
                        <div class="product" id="product-{{ product.id }}">
                            <a href="{% url 'product' product_id=product.id %}">
                                <div class="product__info">
                                    <div class="product__img">
                                        <img src="{{ product.images.first.image.url }}" alt="{{ product.name }}">
                                    </div>
                                    <div class="product__title">{{ product.name }}</div>
                                    {% if product.forBot %}
                                        <div class="product__time">Remaining time: - {{ product.remaining_time }}s</div>
                                    {% else %}
                                        <div class="product__time user__time">Remaining time: - {{ user_remaining_time }}s</div>
                                    {% endif %}
                                        <div class="product__lastBid">Last bid by {{ product.last_bid }}</div>
                                </div>
                            </a>
                            <div class="product__prices">
                                    <div class="product__highBid-active">Highest bid: - {{ user_highest_bid }}€</div>
                                <div class="product__increment">Increment {{product.increment}}€</div>
                                <button type="button" data-forBot="{{product.forBot}}" data-product-id="{{ product.id }}" id="product-btn-{{ product.id }}" class="product__btn" >Bid {{ product.bid }} €  </button>
                            </div>
                        </div>
                        {% endfor %}                         
                        </div>
                    </div>
                </div>
                
            </div>
            <div id="completed" class="tabcontent">
                <div class="products container">
                    <div class="products__container">
                        {% for product in completed_products %}
                        <div class="product">
                            <a href="{% url 'product' product_id=product.id %}">
                            <div class="product__info">
                                <div class="product__img">
                                    <img src="{{ product.images.first.image.url }}" alt="{{ product.name }}">
                                </div>
                                <div class="product__title">{{ product.name }}</div>
                                <div class="product__time">Remaining time: - <span>{{ product.remaining_time }}s</span></div>
                                <div class="product__lastBid">Last bid by {{ product.last_bid }}</div>
                            </div>
                            </a>
                            <div class="product__prices">
                                <div class="product__highBid"></div>
                                <button class="product__btn">Sale has ended</button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                
            </div>
        </div>
    </main>
    {% include 'footer.html' %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Отправляем AJAX-запрос каждую секунду
            setInterval(updateProducts, 1000);
            setInterval(updateUserTime, 1000);
            var productElement = $("#product-" + productId);
        
            function updateProducts() {
                $.ajax({
                    url: "{% url 'index' %}?random=" + new Date().getTime(),
                    method: "GET",
                    success: function(data) {
                        data.active_products.forEach(function(product) {
                            var productId = product.id;
                            var productElement = $("#product-" + productId);
                          


                            if (product.waiting) {
                                productElement.replaceWith(
                                    '<div class="product productHold" id="product-' + productId + '">' +
                                    '<div class="product__img">' +
                                    '<img src="{% static 'img/time.svg' %}" alt="' + product.name + '">' +
                                    '<div class="product__title">Waiting for the next auction item</div>' +
                                    '</div>' +
                                    '</div>'
                                );
            
                                setTimeout(function() {
                                    $.ajax({
                                        url: "{% url 'index' %}",
                                        method: "POST",
                                        data: {
                                            product_id: productId
                                        },
                                        success: function(response) {
                                            console.log("Product marked as completed:", response);
                                        },
                                        error: function(xhr, status, error) {
                                            console.log("Error setting product as completed:", error);
                                        }
                                    });
                                    
                                    // Обновление отображения продукта обратно через 5 секунд
                                    setTimeout(function() {
                                        updateProductView(productId);
                                    }, 6000);
                                }, 10000);
                            } else {
                                // Иначе обновляем отображение продукта
                                updateProductView(productId, product);
                            }
                        });
                    },
                    error: function(xhr, status, error) {
                        console.log("Error updating products:", error);
                    }
                });
            }
            function updateUserTime(productId, product = null){
                var productElement = $("#product-" + productId);
                var forBotValue = $('#product-btn-' + productId).data('forbot');
                var user_remaining_time = product ? product.user_remaining_time : null;
                var userTimeElement = productElement.find(".user_remaining_time");
                if (forBotValue == "False"){
                    userTimeElement.text("Remaining time: - " + user_remaining_time + 's');
                }

            }
               
            
            function updateProductView(productId, product = null) {
                console.log(productId)
                var productElement = $("#product-" + productId);
                var forBotValue = $('#product-btn-' + productId).data('forbot');
                var producTimeElement = productElement.find(".product__time");
                var userTimeElement = productElement.find(".user_remaining_time");

                producTimeElement.text("Remaining time: - " + product.remaining_time + 's');
            
                productElement.find(".product__lastBid").text("Last bid by " + product.last_bid);
                productElement.find(".product__highBid-active").text("Highest bid: - " + product.highest_bid + '€');
                productElement.find(".product__btn").text("Bid " + product.bid + ' €');
                productElement.find(".product__title").text(product.name);
            
                if (productElement.hasClass("productHold")) {
                    var productName = document.getElementById('product-name-' + productId).value;
                    var productImageUrl = document.getElementById('product-image-url-' + productId).value;
                    var productIncrement = document.getElementById('product-increment-' + productId).value;
            
                    var productHtml = '<div class="product" id="product-' + productId + '">' +
                        '<a href="/product/' + productId + '">' +
                        '<div class="product__info">' +
                        '<div class="product__img">' +
                        '<img src="' + productImageUrl + '" alt="' + productName + '">' +
                        '</div>' +
                        '<div class="product__title">' + productName + '</div>' +
                        (product.forBot ?
                            '<div class="product__time">Remaining time: - ' + product.remaining_time + 's</div>' :
                            '<div class="product__time">Remaining time: - ' + product.remaining_time + 's</div>') +
                        '<div class="product__lastBid">Last bid by ' + product.last_bid + '</div>' +
                        '</div>' +
                        '</a>' +
                        '<div class="product__prices">' +
                        '<div class="product__highBid-active">Highest bid: - ' + product.highest_bid + '€</div>' +
                        '<div class="product__increment">Increment ' + productIncrement + '€</div>' +
                        '<button type="button" data-forBot="' + product.forBot + '" data-product-id="' + productId + '" id="product-btn-' + productId + '" class="product__btn">Bid ' + product.bid + ' €</button>' +
                        '</div>' +
                        '</div>';
            
                    productElement.replaceWith(productHtml);
                }
            }
            
        
        });
    </script>
    <script>
        var productId = $('.product__btn').data('product-id');
    
        $(document).ready(function() {
            // Функция для обновления времени на фронтенде
            function updateRemainingTime(productId, remainingTime) {
                var $productElement = $('#product-' + productId);
                var $remainingTimeElement = $productElement.find('.product__time');
                $remainingTimeElement.text("Remaining time: - " + remainingTime + 's');
            }
    
            // Функция для установки таймера
            function setTimer(productId, remainingTime) {
                var timerInterval = setInterval(function() {
                    // Отправляем AJAX-запрос для установки remaining_time и получения значения forPeople
                    $.ajax({
                        url: "{% url 'set_remaining_time' %}",
                        method: "POST",
                        data: {product_id: productId},
                        success: function(response) {
                            if (response.success) {
                                // Обновляем отображаемое время
                                updateRemainingTime(productId, response.remaining_time);
                                // Если remaining_time достиг нуля, останавливаем таймер и перенаправляем на страницу first_payment
                                if (response.remaining_time <= 0) {
                                    clearInterval(timerInterval);
                                    window.location.href = "{% url 'first_payment' %}";
    
                                    // После перенаправления вызываем AJAX-запрос для сброса параметров продукта
                                    $.ajax({
                                        url: "{% url 'reset_product_parameters' %}",
                                        method: "POST",
                                        data: {product_id: productId},
                                        success: function(res) {
                                            if (res.success) {
                                                console.log("Product parameters successfully reset");
                                            } else {
                                                console.error("Error resetting product parameters");
                                            }
                                        },
                                        error: function(xhr, status, error) {
                                            console.error("Error resetting product parameters:", error);
                                        }
                                    });
                                }
                            } else {
                                console.log("Error setting remaining time");
                                clearInterval(timerInterval); // Останавливаем таймер в случае ошибки
                            }
                        },
                        error: function(xhr, status, error) {
                            console.log("Error setting remaining time:", error);
                            clearInterval(timerInterval); // Останавливаем таймер в случае ошибки
                        }
                    });
                }, 1000); // Каждую секунду
            }
    
            // Обработчик клика на кнопке "Bid" для каждого продукта
            $('.product__btn').click(function() {
                var productId = $(this).data('product-id'); // Получаем ID продукта
                var forBot = $(this).data('forbot'); // Получаем информацию о том, что продукт предназначен для бота
                
                // Проверяем, является ли продукт предназначенным для бота
                if (forBot == "True") {
                    // Блокируем кнопку и выводим алерт
                    alert('Недостаточно средств');
                    return false; // Возвращаем false, чтобы предотвратить выполнение действия по умолчанию для кнопки
                }
                this.style.background = "#ccc"
                // Отправляем AJAX-запрос для установки remaining_time и получения значения forPeople
                $.ajax({
                    url: "{% url 'set_remaining_time' %}",
                    method: "POST",
                    data: {product_id: productId},
                    success: function(response) {
                        if (response.success) {
                            // Если remaining_time достиг нуля, не вызываем setTimer,
                            // а обновляем параметры на странице и перенаправляем на страницу first_payment
                            if (response.remaining_time <= 0) {
                                updateRemainingTime(productId, response.remaining_time);
                                window.location.href = "{% url 'first_payment' %}";
                            } else {
                                // Иначе вызываем функцию установки таймера с полученным временем
                                setTimer(productId, response.remaining_time);
                            }
                        } else {
                            console.log("Error setting remaining time");
                        }
                    },
                    error: function(xhr, status, error) {
                        console.log("Error setting remaining time:", error);
                    }
                });
            
                // Возвращаем false, чтобы предотвратить выполнение действия по умолчанию для кнопки
                return false;
            });
        })
    </script>
    
    
    <script src="{% static 'scripts/app.js' %}"></script>
</body>
</html>