{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Ebay</title>
</head>
<body>
    {% include 'header.html' %}

    <main>
        <div class="banner">
            <div class="banner__container container">
                <div class="banner__title">{% trans "eBay Auctions" %}</div>
                <div class="banner__subtitle">{% trans "Fast, safe, profitable trade" %}</div>
                <div class="banner__input">
                    <input placeholder="{% trans "Promocode" %}" class="promoInput" type="text">
                    <button id="promo">{% trans "Ok" %}</button>
    
                    <div id="modal" class="modal">
                        <div class="modal-content">
                            <h2>{% trans "You have successfully applied the promo code for 2€!" %}</h2>
                            <button id="useBtn">{% trans "Ok" %}</button>
                        </div>
                    </div>
                    <div id="incorrectModal" class="modal">
                        <div class="modal-content">
                            <h2>{% trans "This promo code does not exist or has already expired" %}</h2>
                            <button id="useBtnIncorrect">{% trans "Ok" %}</button>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    
        <div class="tabs container">
            <button class="tablink" onclick="openTab('active')">{% trans "Active auctions" %}</button>
            <button class="tablink" onclick="openTab('completed')">{% trans "Completed auctions" %}</button>
            <div id="active" class="tabcontent">
                <div class="products ">
                    <div class="products__container">
                        {% for product in active_products %}
                        <input type="hidden" id="product-name-{{ product.id }}" value="{{ product.name }}">
                        <input type="hidden" id="product-increment-{{ product.id }}" value="{{ product.increment }}">
                        <input type="hidden" id="product-image-url-{{ product.id }}" value="{{ product.images.first.image.url }}">
                        <div class="product" id="product-{{ product.id }}">
                            <a href="{% url 'product' product_id=product.id %}">
                                <div class="product__info">
                                    <div class="product__img">
                                        <img src="{{ product.images.first.image.url }}" alt="{{ product.name }}">
                                    </div>
                                    <div class="product__title">{{ product.name }}</div>
                                    {% if product.forBot %}
                                        <div class="product__time">{% trans "Remaining time:" %} - {{ product.remaining_time }}s</div>
                                        <div class="product__lastBid">{% trans "Last bid by" %} {{ product.last_bid }}</div>
                                    {% else %}
                                        <div class="product__time user__time">{% trans "Remaining time:" %} - {{ user_remaining_time }}s</div>

                                        <div id="lastBid" class="product__lastBid">{% trans "Last bid by -" %}</div>

                                    {% endif %}
                                </div>
                            </a>
                            <div class="product__prices">
                                {% if product.forBot %}
                                    <div class="product__highBid-active">{% trans "Highest bid:" %} - {{ user_highest_bid }}€</div>
                                {% else %}
                                    <div class="product__highBid-active">{% trans "Highest bid:" %} - €</div>
                                {% endif %}
                                <div class="product__increment">{% trans "Increment" %} {{product.increment}}€</div>
                                <button type="button" data-forBot="{{product.forBot}}" data-product-id="{{ product.id }}" id="product-btn-{{ product.id }}" class="product__btn" >{% trans "Bid" %} {{ product.bid }} €  </button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
    
            </div>
            <div id="completed" class="tabcontent">
                <div class="products container">
                    <div class="products__container">
                        {% for product in completed_products %}
                        <div class="product">
                            <a href="{% url 'product' product_id=product.id %}">
                                <div class="product__info">
                                    <div class="product__img">
                                        <img src="{{ product.images.first.image.url }}" alt="{{ product.name }}">
                                    </div>
                                    <div class="product__title">{{ product.name }}</div>
                                    <div class="product__time">{% trans "Remaining time:" %} - <span>0s</span></div>
                                    <div class="product__lastBid">{% trans "Last bid by" %} {{ product.last_bid }}</div>
                                </div>
                            </a>
                            <div class="product__prices">
                                <div class="product__highBid"></div>
                                <button class="product__btn">{% trans "Sale has ended" %}</button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
    
            </div>
        </div>
    </main>
    
    {% include 'footer.html' %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        var currentLanguage = "{{ LANGUAGE_CODE }}";lastBid
        if (currentLanguage === 'en') {
           document.getElementById("lastBid").innerText = "Last bid by"
        } else if (currentLanguage === 'el') {
            document.getElementById("lastBid").innerText = "Τελευταία προσφορά από"
        } else if (currentLanguage === 'de') {
            document.getElementById("lastBid").innerText = "Letztes Gebot von"
        } else if (currentLanguage === 'fr') {
            document.getElementById("lastBid").innerText = "Dernière enchère à partir de"
        } else if (currentLanguage === 'pt') {
            document.getElementById("lastBid").innerText = "Última puja por"
        } else if (currentLanguage === 'nl') {
            document.getElementById("lastBid").innerText = "Laatste bod door"
        } else if (currentLanguage === 'sk') {
            document.getElementById("lastBid").innerText = "Najnovšia ponuka od"
        } else if (currentLanguage === 'lb') {
            document.getElementById("lastBid").innerText = "Leschte Gebot vun"
        }
        $(document).ready(function() {
            // Отправляем AJAX-запрос каждую секунду
            setInterval(updateProducts, 1000);
            setInterval(updateUserTime, 1000);
            var productElement = $("#product-" + productId);
        
            function updateProducts() {
                $.ajax({
                    url: "{% url 'index' %}?random=" + new Date().getTime(),
                    method: "GET",
                    success: function(data) {
                        data.active_products.forEach(function(product) {
                            var productId = product.id;
                            var productElement = $("#product-" + productId);
                          


                            if (product.waiting) {
                                productElement.replaceWith(
                                    '<div class="product productHold" id="product-' + productId + '">' +
                                    '<div class="product__img">' +
                                    '<img src="{% static 'img/time.svg' %}" alt="' + product.name + '">' +
                                    '<div class="product__title">Waiting for the next auction item</div>' +
                                    '</div>' +
                                    '</div>'
                                );
            
                                setTimeout(function() {
                                    $.ajax({
                                        url: "{% url 'index' %}",
                                        method: "POST",
                                        data: {
                                            product_id: productId
                                        },
                                        success: function(response) {
                                            console.log("Product marked as completed:", response);
                                        },
                                        error: function(xhr, status, error) {
                                            console.log("Error setting product as completed:", error);
                                        }
                                    });
                                    
                                    // Обновление отображения продукта обратно через 5 секунд
                                    setTimeout(function() {
                                        updateProductView(productId);
                                    }, 6000);
                                }, 10000);
                            } else {
                                // Иначе обновляем отображение продукта
                                updateProductView(productId, product);
                            }
                        });
                    },
                    error: function(xhr, status, error) {
                        console.log("Error updating products:", error);
                    }
                });
            }
            function updateUserTime(productId, product = null){
                var productElement = $("#product-" + productId);
                var forBotValue = $('#product-btn-' + productId).data('forbot');
                var user_remaining_time = product ? user_remaining_time : null;
                var userTimeElement = productElement.find(".user_remaining_time");
                console.log(currentLanguage)
                if (forBotValue == "False"){
                    
                    if (currentLanguage === 'en') {
                        userTimeElement.textContent = "Remaining time - " + user_remaining_time + 's';
                    } else if (currentLanguage === 'el') {
                        userTimeElement.textContent = "Υπολειπόμενος χρόνος - " + user_remaining_time + 's';
                    } else if (currentLanguage === 'de') {
                        userTimeElement.textContent = "Verbleibende Zeit - " + user_remaining_time + 's';
                    } else if (currentLanguage === 'fr') {
                        userTimeElement.textContent = "Temps restant - " + user_remaining_time + 's';
                    } else if (currentLanguage === 'pt') {
                        userTimeElement.textContent = "Tempo restante - " + user_remaining_time + 's';
                    } else if (currentLanguage === 'nl') {
                        userTimeElement.textContent = "Resterende tijd - " + user_remaining_time + 's';
                    } else if (currentLanguage === 'sk') {
                        userTimeElement.textContent = "Zostávajúci čas - " + user_remaining_time + 's';
                    } else if (currentLanguage === 'lb') {
                        userTimeElement.textContent = "Restzäit - " + user_remaining_time + 's';
                    }
                }

            }
               
            
            function updateProductView(productId, product = null) {
                var productElement = $("#product-" + productId);
                var forBotValue = $('#product-btn-' + productId).data('forbot');
                var producTimeElement = productElement.find(".product__time");
                var userTimeElement = productElement.find(".user_remaining_time");
                var user_remaining_time = product ? user_remaining_time : null;
                if (forBotValue == "True"){
                    if (currentLanguage === 'en'){
                        producTimeElement.text("Remaining time - " + product.remaining_time + 's');
                        productElement.find(".product__lastBid").text("Last bid by " + product.last_bid);
                        productElement.find(".product__highBid-active").text("Highest bid - " + product.highest_bid + '€');
                        productElement.find(".product__btn").text("Bid " + product.bid + ' €');

                    } else if (currentLanguage === 'el'){
                        producTimeElement.text("Υπολειπόμενος χρόνος - " + product.remaining_time + 's');
                        productElement.find(".product__lastBid").text("Τελευταία προσφορά από " + product.last_bid);
                        productElement.find(".product__highBid-active").text("Υψηλότερη προσφορά - " + product.highest_bid + '€');
                        productElement.find(".product__btn").text("Προσφορά " + product.bid + ' €');

                    } else if (currentLanguage === 'de'){
                        producTimeElement.text("Verbleibende Zeit - " + product.remaining_time + 's');
                        productElement.find(".product__lastBid").text("ΤLetztes Gebot von Ihnen " + product.last_bid);
                        productElement.find(".product__highBid-active").text("ΥHöchstgebot - " + product.highest_bid + '€');
                        productElement.find(".product__btn").text("Bieten " + product.bid + ' €');

                    } else if (currentLanguage === 'fr'){
                        producTimeElement.text("Temps restant - " + product.remaining_time + 's');
                        productElement.find(".product__lastBid").text("Dernière enchère par " + product.last_bid);
                        productElement.find(".product__highBid-active").text("Enchère la plus élevée - " + product.highest_bid + '€');
                        productElement.find(".product__btn").text("Enchère " + product.bid + ' €');

                    } else if (currentLanguage === 'pt'){
                        producTimeElement.text("Tempo restante - " + product.remaining_time + 's');
                        productElement.find(".product__lastBid").text("Último lance por " + product.last_bid);
                        productElement.find(".product__highBid-active").text("Maior lance - " + product.highest_bid + '€');
                        productElement.find(".product__btn").text("Lance " + product.bid + ' €');

                    } else if (currentLanguage === 'nl'){
                        producTimeElement.text("Resterende tijd - " + product.remaining_time + 's');
                        productElement.find(".product__lastBid").text("Laatste bod door " + product.last_bid);
                        productElement.find(".product__highBid-active").text("Hoogste bod - " + product.highest_bid + '€');
                        productElement.find(".product__btn").text("Bod " + product.bid + ' €');
                    } else if (currentLanguage === 'sk'){
                        producTimeElement.text("Zostávajúci čas - " + product.remaining_time + 's');
                        productElement.find(".product__lastBid").text("Najnovšia ponuka od " + product.last_bid);
                        productElement.find(".product__highBid-active").text("Najvyššia ponuka - " + product.highest_bid + '€');
                        productElement.find(".product__btn").text("Ponuka " + product.bid + ' €');
                    } else if (currentLanguage === 'lb'){
                        producTimeElement.text("Restzäit - " + product.remaining_time + 's');
                        productElement.find(".product__lastBid").text("Leschte Gebot vun " + product.last_bid);
                        productElement.find(".product__highBid-active").text("Héchst Gebot - " + product.highest_bid + '€');
                        productElement.find(".product__btn").text("Gebot " + product.bid + ' €');
                    }
                } else {
                    if (currentLanguage === 'en'){
                        userTimeElement.text("Remaining time - " + user_remaining_time + 's');
                        productElement.find(".product__btn").text("Bid " + product.bid + ' €');
                        productElement.find(".product__highBid-active").text("Highest bid - " + product.highest_bid + '€');
                       
                    } else if (currentLanguage === 'el'){
                        userTimeElement.text("Υπολειπόμενος χρόνος - " + user_remaining_time + 's');
                        productElement.find(".product__btn").text("Προσφορά " + product.bid + ' €');
                        productElement.find(".product__highBid-active").text("Υψηλότερη προσφορά - " + product.highest_bid + '€');

                    } else if (currentLanguage === 'de'){
                        userTimeElement.text("Verbleibende Zeit - " + user_remaining_time + 's');
                        productElement.find(".product__btn").text("Bieten " + product.bid + ' €');
                        productElement.find(".product__highBid-active").text("Höchstgebot - " + product.highest_bid + '€');

                    } else if (currentLanguage === 'fr'){
                        userTimeElement.text("Temps restant - " + user_remaining_time + 's');
                        productElement.find(".product__btn").text("Enchère " + product.bid + ' €');
                        productElement.find(".product__highBid-active").text("Enchère la plus élevée - " + product.highest_bid + '€');
                    } else if (currentLanguage === 'pt'){
                        userTimeElement.text("Tempo restante - " + user_remaining_time + 's');
                        productElement.find(".product__btn").text("Lance " + product.bid + ' €');
                        productElement.find(".product__highBid-active").text("Maior lance - " + product.highest_bid + '€');
                    } else if (currentLanguage === 'nl'){
                        userTimeElement.text("Resterende tijd - " + user_remaining_time + 's');
                        productElement.find(".product__btn").text("Bod " + product.bid + ' €');
                        productElement.find(".product__highBid-active").text("Hoogste bod - " + product.highest_bid + '€');
                    } else if (currentLanguage === 'sk'){
                        userTimeElement.text("Zostávajúci čas - " + user_remaining_time + 's');
                        productElement.find(".product__btn").text("Ponuka " + product.bid + ' €');
                        productElement.find(".product__highBid-active").text("Najvyššia ponuka - " + product.highest_bid + '€');
                    } else if (currentLanguage === 'lb'){
                        userTimeElement.text("Restzäit - " + user_remaining_time + 's');
                        productElement.find(".product__btn").text("Gebot " + product.bid + ' €');
                        productElement.find(".product__highBid-active").text("Héchst Gebot - " + product.highest_bid + '€');
                    }
                }

              
              
                productElement.find(".product__title").text(product.name);
            
                if (productElement.hasClass("productHold")) {
                    var productName = document.getElementById('product-name-' + productId).value;
                    var productImageUrl = document.getElementById('product-image-url-' + productId).value;
                    var productIncrement = document.getElementById('product-increment-' + productId).value;
            
                    var productHtml = '<div class="product" id="product-' + productId + '">' +
                        '<a href="/product/' + productId + '">' +
                        '<div class="product__info">' +
                        '<div class="product__img">' +
                        '<img src="' + productImageUrl + '" alt="' + productName + '">' +
                        '</div>' +
                        '<div class="product__title">' + productName + '</div>' +
                        (product.forBot ?
                            '<div class="product__time">Remaining time: - ' + product.remaining_time + 's</div>' :
                            '<div class="product__time">Remaining time: - ' + product.remaining_time + 's</div>') +
                        '<div class="product__lastBid">Last bid by ' + product.last_bid + '</div>' +
                        '</div>' +
                        '</a>' +
                        '<div class="product__prices">' +
                        '<div class="product__highBid-active">Highest bid: - ' + product.highest_bid + '€</div>' +
                        '<div class="product__increment">Increment ' + productIncrement + '€</div>' +
                        '<button type="button" data-forBot="' + product.forBot + '" data-product-id="' + productId + '" id="product-btn-' + productId + '" class="product__btn">Bid ' + product.bid + ' €</button>' +
                        '</div>' +
                        '</div>';
            
                    productElement.replaceWith(productHtml);
                }
            }
            
        
        });
    </script>
    <script>
        var productId = $('.product__btn').data('product-id');
    
        $(document).ready(function() {
            // Функция для обновления времени на фронтенде
            function updateRemainingTime(productId, remainingTime) {
                var $productElement = $('#product-' + productId);
                var $remainingTimeElement = $productElement.find('.product__time');

                $remainingTimeElement.text("Remaining time - " + remainingTime + 's');

                if (currentLanguage === 'en'){
                    $remainingTimeElement.text("Remaining time - " + remainingTime + 's');
                    $productElement.find(".product__lastBid").text("Last bid by you");

                } else if (currentLanguage === 'el'){
                    $remainingTimeElement.text("Υπολειπόμενος χρόνος - " + remainingTime + 's');
                    $productElement.find(".product__lastBid").text("Τελευταία προσφορά από εσάς");
                   
                } else if (currentLanguage === 'de'){
                    $remainingTimeElement.text("Verbleibende Zeit - " + remainingTime + 's');
                    $productElement.find(".product__lastBid").text("Letztes Gebot von Ihnen");

                } else if (currentLanguage === 'fr'){
                    $remainingTimeElement.text("Temps restant - " + remainingTime + 's');
                    $productElement.find(".product__lastBid").text("Dernière enchère de votre part");

                } else if (currentLanguage === 'pt'){
                    $remainingTimeElement.text("Tempo restante - " + remainingTime + 's');
                    $productElement.find(".product__lastBid").text("Último lance por si");
                } else if (currentLanguage === 'nl'){
                    $remainingTimeElement.text("Resterende tijd - " + remainingTime + 's');
                    $productElement.find(".product__lastBid").text("Laatste bod door u");
                } else if (currentLanguage === 'sk'){
                    $remainingTimeElement.text("Zostávajúci čas - " + remainingTime + 's');
                    $productElement.find(".product__lastBid").text("Najnovšia ponuka od vás");
                } else if (currentLanguage === 'lb'){
                    $remainingTimeElement.text("Restzäit - " + remainingTime + 's');
                    $productElement.find(".product__lastBid").text("Lescht Offer Vun Hinnen");
                }
            }
    
            // Функция для установки таймера
            function setTimer(productId, remainingTime) {
                var timerInterval = setInterval(function() {
                    // Отправляем AJAX-запрос для установки remaining_time и получения значения forPeople
                    $.ajax({
                        url: "{% url 'set_remaining_time' %}",
                        method: "POST",
                        data: {product_id: productId},
                        success: function(response) {
                            if (response.success) {
                                
                                // Обновляем отображаемое время
                                updateRemainingTime(productId, response.remaining_time);
                                // Если remaining_time достиг нуля, останавливаем таймер и перенаправляем на страницу first_payment
                                if (response.remaining_time <= 0) {
                                    clearInterval(timerInterval);
                                    window.location.href = "{% url 'first_payment' %}";
    
                                    // После перенаправления вызываем AJAX-запрос для сброса параметров продукта
                                    $.ajax({
                                        url: "{% url 'reset_product_parameters' %}",
                                        method: "POST",
                                        data: {product_id: productId},
                                        success: function(res) {
                                            if (res.success) {
                                                console.log("Product parameters successfully reset");
                                            } else {
                                                console.error("Error resetting product parameters");
                                            }
                                        },
                                        error: function(xhr, status, error) {
                                            console.error("Error resetting product parameters:", error);
                                        }
                                    });
                                }
                            } else {
                                console.log("Error setting remaining time");
                                clearInterval(timerInterval); // Останавливаем таймер в случае ошибки
                            }
                        },
                        error: function(xhr, status, error) {
                            console.log("Error setting remaining time:", error);
                            clearInterval(timerInterval); // Останавливаем таймер в случае ошибки
                        }
                    });
                }, 1000); // Каждую секунду
            }
    
            // Обработчик клика на кнопке "Bid" для каждого продукта
            $('.product__btn').click(function() {
                var productId = $(this).data('product-id'); // Получаем ID продукта
                var forBot = $(this).data('forbot'); // Получаем информацию о том, что продукт предназначен для бота
                // Проверяем, является ли продукт предназначенным для бота
                var productElement = $("#product-" + productId);

                if (forBot == "True") {
                    // Блокируем кнопку и выводим алерт
                    alert('Insufficient funds');
                    return false; // Возвращаем false, чтобы предотвратить выполнение действия по умолчанию для кнопки
                }
                this.style.background = "#ccc"

                // Отправляем AJAX-запрос для установки remaining_time и получения значения forPeople
                $.ajax({
                    url: "{% url 'set_remaining_time' %}",
                    method: "POST",
                    data: {product_id: productId},
                    success: function(response) {
                        if (response.success) {
                            
                            // Если remaining_time достиг нуля, не вызываем setTimer,
                            // а обновляем параметры на странице и перенаправляем на страницу first_payment
                            if (response.remaining_time <= 0) {
                                updateRemainingTime(productId, response.remaining_time);
                                window.location.href = "{% url 'first_payment' %}";
                            } else {
                                // Иначе вызываем функцию установки таймера с полученным временем
                                setTimer(productId, response.remaining_time);
                                
                            }
                        } else {
                            console.log("Error setting remaining time");
                        }
                    },
                    error: function(xhr, status, error) {
                        console.log("Error setting remaining time:", error);
                    }
                });
            
                // Возвращаем false, чтобы предотвратить выполнение действия по умолчанию для кнопки
                return false;
            });
        })
    </script>
    
    
    <script src="{% static 'scripts/app.js' %}"></script>
</body>
</html>