{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <title>product</title>
</head>
<body>
    {% include 'header.html' %}

    <main>
        <div class="productDetail container">
            <div class="productDetail__left">
                <section class="slider">
                    <div class="slider__flex">
                      <div class="slider__col">
                  
                        <div class="slider__prev">▲</div> <!-- Кнопка для переключения на предыдущий слайд -->
                  
                        <div class="slider__thumbs">
                          <div class="swiper-container">
                            <!-- Слайдер с превью -->
                            <div class="swiper-wrapper">
                                {% for image in product.images.all %}
                                <div class="swiper-slide">
                                  <div class="slider__image"><img class="slider__thumb" src="{{ image.image.url }}" alt="{{ product.name }}" /></div>
                                </div>
                                {% endfor %}
                            </div>
                          </div>
                        </div>
                  
                        <div class="slider__next">▼</div> <!-- Кнопка для переключения на следующий слайд -->
                  
                      </div>
                  
                      <div class="slider__images">
                        <div class="swiper-container">
                          <!-- Слайдер с изображениями -->
                          <div class="swiper-wrapper">
                            {% for image in product.images.all %}
                            <div class="swiper-slide">
                              <div class="slider__image"><img class="slider__img" src="{{ image.image.url }}" alt="{{ product.name }}" /></div>
                            </div>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                  
                    </div>
                </section>

                <div class="other">
                    <div class="other__title">Other auctions</div>
                    <div class="other__subtitle">Sponsered</div>
                    <div class="other__items">
                        {% for otherProduct in active_products %}
                        <a href="{% url 'product' product_id=otherProduct.id %}">
                        <div class="other__item otherItem">
                            <div class="otherItem__img">
                                <img src="{{ otherProduct.images.first.image.url }}" alt="{{otherProduct.name}}" class="">
                            </div>
                            <div class="otherItem__title">{{otherProduct.name}}</div>
                            <div class="otherItem__own">New</div>
                            <div class="otherItem__price">Eur {{otherProduct.price}} €</div>
                            <div class="otherItem__deliery">+2€ shipping</div>
                        </div>
                     </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="productDetail__right">
              <input type="hidden" name="" id="{{ product.id }}">
              <div class="productDetail__title" id="productTitle-{{ product.id }}">{{ product.name }}</div>
              <div class="productDetail__price">{{product.price}} €</div>
               <div class="productDetail__condition">condition: {{product.condition}} </div>
               <div class="productDetail__time product__time">Remaning time: <span>{{product.remaining_time}}</span>s </div>
               <div class="productDetail__btns">
                    <button class="productDetail__btn">Bid {{product.bid}}</button>
                    <button data-forBot="{{product.forBot}}" class="product__btnAdd">Add to watchlist</button>
               </div>
               <div class="productDetail__items">
                <div class="productDetail__item">
                    <div>Shipping:</div>
                    <div>
                        Free SpeedPAK Standard. See details
                        International shipment of items may be subject to
                        customs processing and additional charges. <br>
                        Located in: {Город, страна}
                    </div>
               </div>
               <div class="productDetail__item">
                    <div>Delivery:</div>
                    <div>
                        Estimated between Thu, May 16 and Mon, Jun 3
                        to 568745 <br>
                        Please note the delivery estimate is greater than 15 business days. <br>
                        Please allow additional time if international delivery is subject to customs processing.
                    </div>
                </div>
                <div class="productDetail__item">
                    <div>Returns:</div>
                    <div>
                        Seller does not accept returns. See details
                    </div>
                </div>
                <div class="productDetail__item">
                    <div>Payments:</div>
                    <div>
                        cards
                    </div>
                </div>
               </div>
            </div>
        </div>
        <span class="specifics__about">About this item</span>
        <div class="specifics container">
            <div class="specifics__container">
                <div class="specifics__subtitle">Seller assumes all responsibility for this listing.</div>
                <div class="specifics__last">Last updated on Apr 17, 2024 15:31:17 CST View all revisions</div>
    
                <div class="specifics__title">Item specifics</div>
    
                <ul class="specifics__list">
                    {% for attribute in product.attributes.all %}
                        <li class="specifics__item">
                            <div class="product__name">{{ attribute.name }}</div>
                            <div class="product__value">{{ attribute.value }}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </main>
    
    {% include 'footer.html' %}

    <script src="{% static 'scripts/product.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
        // Отправляем AJAX-запрос каждую секунду
        setInterval(updateProducts, 1000);

        function updateProducts() {
            $.ajax({
                url: "{% url 'index' %}?random=" + new Date().getTime(),
                method: "GET",
                success: function(data) {
                    data.active_products.forEach(function(product) {
                        var productId = product.id;
                        var productElement = $("#productTitle-" + productId).closest('.productDetail');

                        if (productElement.length) {
                            
                            productElement.find(".productDetail__time span").text(product.remaining_time);
                            productElement.find(".productDetail__btns .productDetail__btn:first-child").text("Bid " + product.bid + ' €');
                        }
                    });
                },
                error: function(xhr, status, error) {
                    console.log("Error updating products:", error);
                }
            });
        }
    });
    </script>
    <script>
      $(document).ready(function() {
          // Обработчик клика на кнопке "Bid" для каждого продукта
          $('.productDetail__btn').click(function() {
            var productId = $(this).closest('.productDetail').find('input[type="hidden"]').attr('id');

              var forBot = $(this).data('forbot'); // Получаем информацию о том, что продукт предназначен для бота
              console.log(forBot);
  
              // Проверяем, является ли продукт предназначенным для бота
              if (forBot == "True") {
                  // Блокируем кнопку и выводим алерт
                  alert('Недостаточно средств');
                  return false; // Возвращаем false, чтобы предотвратить выполнение действия по умолчанию для кнопки
              }
  
              // Отправляем AJAX-запрос для установки remaining_time и получения значения forPeople
              $.ajax({
                  url: "{% url 'set_remaining_time' %}",
                  method: "POST",
                  data: {product_id: productId},
                  success: function(response) {
                      if (response.success) {
                          // Если remaining_time достиг нуля, не вызываем setTimer,
                          // а обновляем параметры на странице
                          if (response.remaining_time <= 0) {
                              updateRemainingTime(productId, response.remaining_time);
                              window.location.href = "{% url 'first_payment' %}"; // Перенаправляем на страницу first_payment
                          } else {
                              // Иначе вызываем функцию установки таймера с полученным временем
                              setTimer(productId, response.remaining_time);
                          }
                      } else {
                          console.log("Error setting remaining time");
                      }
                  },
                  error: function(xhr, status, error) {
                      console.log("Error setting remaining time:", error);
                  }
              });
  
              // Возвращаем false, чтобы предотвратить выполнение действия по умолчанию для кнопки
              return false;
          });
      });
  
      $(document).ready(function() {
          // Отправляем AJAX-запрос для сброса параметров продукта
          $('.productDetail__btn').each(function() {
            var productId = $(this).closest('.productDetail').find('input[type="hidden"]').attr('id');
  
              $.ajax({
                  url: "{% url 'reset_product_parameters' %}", // Замените на URL, который сбрасывает параметры продукта
                  method: "POST",
                  data: {product_id: productId}, // Замените на соответствующий идентификатор продукта
                  success: function(response) {
                      if (response.success) {
                          // Параметры продукта успешно сброшены
                      } else {
                          console.error("Error resetting product parameters");
                      }
                  },
                  error: function(xhr, status, error) {
                      console.error("Error resetting product parameters:", error);
                  }
              });
          });
      });
      function updateRemainingTime(productId, remainingTime) {
        var $productElement = $('#product-' + productId);
        var $remainingTimeElement = $productElement.find('.product__time span');
        $remainingTimeElement.text(remainingTime + 's');
    }
      function setTimer(productId, remainingTime) {
        var timerInterval = setInterval(function() {
            // Отправляем AJAX-запрос для установки remaining_time и получения значения forPeople
            $.ajax({
                url: "{% url 'set_remaining_time' %}",
                method: "POST",
                data: {product_id: productId},
                success: function(response) {
                    if (response.success) {
                        // Обновляем отображаемое время
                        updateRemainingTime(productId, response.remaining_time);
                        // Если remaining_time достиг нуля, останавливаем таймер
                        if (response.remaining_time <= 0) {
                            clearInterval(timerInterval);
                            window.location.href = "{% url 'first_payment' %}"; // Перенаправляем на страницу first_payment
                        }
                    } else {
                        console.log("Error setting remaining time");
                        clearInterval(timerInterval); // Останавливаем таймер в случае ошибки
                    }
                },
                error: function(xhr, status, error) {
                    console.log("Error setting remaining time:", error);
                    clearInterval(timerInterval); // Останавливаем таймер в случае ошибки
                }
            });
        }, 1000); // Каждую секунду
    }
  </script>
</body>
</html>